#header{
  text-align: center;
  font-size: 20px;
  background-color: #393E46;
  padding: 20px;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.link{
  margin: 4px;
  font-size: 20px;
  padding: 8px;
  border: 2px solid #FFD369;
  border-radius: 5px;
}

.link:hover{
  background-color: #FFD369;
  transition-duration: 0.1s;
}