#footer{
  text-align: left;
  background-color: #393E46;
  -webkit-border-radius: 5px;
  border-radius: 5px;

  position: fixed;
  bottom: 0;
  width: 100%;

  height: 160px;

  box-sizing: border-box;
  padding: 5px;
  margin: 0;
}

span{
  color: #9c9c9c;
  padding: 10px;
}

a{
  font-style:underline;
  padding: 5px;
  border-radius: 3px;
}

a:hover{
  color:#222831;
  background-color: #FFD369;
  color:#222831;
}

.link{
  margin: 5px;
}