<div id="footer">
  <div class="link"><a href="mailto: &#114;&#106;&#119;&#104;&#105;&#116;&#101;&#110;&#104;&#064;&#111;&#117;&#116;&#108;&#111;&#111;&#107;&#046;&#099;&#111;&#109;">Email (&#114;&#106;&#119;&#104;&#105;&#116;&#101;&#110;&#104;&#064;&#111;&#117;&#116;&#108;&#111;&#111;&#107;&#046;&#099;&#111;&#109;)</a></div>
  <div class="link"><a href="tel:+&#049;&#054;&#048;&#051;&#056;&#048;&#057;&#051;&#050;&#054;&#053;">Phone (+&#049;&#045;&#054;&#048;&#051;&#045;&#056;&#048;&#057;&#045;&#051;&#050;&#054;&#053;)</a></div>
  <div class="link"><a href="https://www.linkedin.com/in/armedturret/" target="_blank">LinkedIn</a></div>
  <div class="link"><a href="https://www.youtube.com/@armedturret" target="_blank">YouTube</a></div>
  <div class="link"><a href="https://github.com/armedturret" target="_blank">GitHub</a></div>
  <span>Copyright © 2023-2025 Robert White. All rights reserved.</span>
</div>
