<div id="footer">
  <div class="link"><a href="mailto: rjwhitenh@outlook.com">Email (rjwhitenh@outlook.com)</a></div>
  <div class="link"><a href="tel:+16038093265">Phone (+1-603-809-3265)</a></div>
  <div class="link"><a href="https://www.linkedin.com/in/robert-j-white-383471b0/" target="_blank">LinkedIn</a></div>
  <div class="link"><a href="https://www.youtube.com/@armedturret" target="_blank">YouTube</a></div>
  <div class="link"><a href="https://github.com/armedturret" target="_blank">GitHub</a></div>
</div>
