<div id="header">
    <div id="links">
        <span style="font-size: 20px;"><b>Robert White's Portfolio</b></span>
        <a class="page-link" href="./index.html">Home</a>
        <a class="page-link" href="./projects.html">Projects</a>
        <a class="page-link" href="./references.html">References</a>
        <a class="page-link" href="./files/RWhite-Resume.pdf" target="_blank">Resume</a>
    </div>
</div>
<div id="content">
    <h1>Projects</h1>
    <div id="projects">
        <div class="project">
            <h2>Deepspace Dredgers</h2>
            <p>Skills: C#, Unity, Blender, Mirror</p>
            <a href="https://www.youtube.com/playlist?list=PLqiA7QcV2e74JYHWpPOScb1n87v5D9Hcu">Link</a>
            <p>Programmed and designed an underwater co-op horror game in which a navigator attempts to guide a captain through the depths.
            Developed in Unity with Mirror and Steamworks for networking. The project is currently ongoing.
            </p>
        </div>
        <div class="project">
            <h2>IT Simulator</h2>
            <p>Skills: C#, Unity, Blender, Photon</p>
            <a href="https://store.steampowered.com/app/1903730/IT_Simulator/">Link</a>
            <p>Lead developer/programmer/designer of an asymmetric co-op horror game set in an underground office building.
            Implemented networking through the Photon and Steamworks libraries. Designed, implemented, and playtested the
            game as well as created various 3D assets.
            </p>
        </div>
        <div class="project">
            <h2>Cave Plague</h2>
            <p>Skills: C#, Unity</p>
            <a href="https://armedturret.itch.io/cave-plague">Link</a>
            <p>A platformer game developed in 48 hours for the RGDC Halloween Game Jam 2022 in which the player must shoot the environment to clear a path.
            Won the best overall category. Wrote the code and designed the levels.
            </p>
        </div>
        <div class="project">
            <h2>Direct Current</h2>
            <p>Skills: C#, Unity</p>
            <a href="https://sockman.itch.io/direct-current">Link</a>
            <p>A top-down shoote/infinite runner game developed in 48 hours for the RGDC Spring Game Jam 2023. The game consisted of raiding trains in order
            to heal your character as well as fuel the train car. The game won the best overall category. Personally programmed the shooter sections and roguelike elements.
            </p>
        </div>
        <div class="project">
            <h2>Denyork Valley</h2>
            <p>Skills: C++, OpenGL, SDL, OpenAL</p>
            <a href="https://armedturret.itch.io/denyork-valley">Link</a>
            <p>Developed a 2D top-down game from scratch including creating the assets and programming the base engine in C++ with SDL, OpenGL, and OpenAL.
            </p>
        </div>
        <div class="project">
            <h2>Glass Wall Game Engine</h2>
            <p>Skills: C++, OpenGL, SDL</p>
            <a href="https://github.com/armedturret/GlassWall">Link</a>
            <p>Developed a 3D render/game engine capable of simple lighting and calculating a scene view. Wrote the render code in C++ using OpenGL and SDL.
            </p>
        </div>
    </div>
</div>
<div id="footer">
Email: <a href="mailto: rjwhitenh@outlook.com">rjwhitenh@outlook.com</a><br> 
Phone: +1-603-809-3265<br>
<a href="https://www.linkedin.com/in/robert-j-white-383471b0/">LinkedIn</a><br>
<a href="https://www.youtube.com/@armedturret">YouTube</a><br>
<a href="https://github.com/armedturret">GitHub</a>
</div>