<div>
    <app-gi-header></app-gi-header>
    <h1>Basic Assignment 4</h1>
    <p>Here's the basic rendering.</p>
    <img class="render-image" src="/assets/gi/assn4-basic.png" alt="Two spheres above a checkered plane."/>
    <p>And here is the scene but with an image texture.</p>
    <img class="render-image" src="/assets/gi/assn4-image.png" alt="Two spheres above a plane with a map on it."/>
    <p>And here it is with the sphere rendering the map instead!</p>
    <img class="render-image" src="/assets/gi/assn4-sphere-tex.png" alt="A globe and a gray sphere above a checkered plane."/>
</div>