<div>
    <app-gi-header></app-gi-header>
    <h1>Advanced - KD Trees</h1>
    <p>Here's my initial rendering of the stanford bunny WITHOUT kd-trees. It took 636.8 seconds or ~10 minutes to render.</p>
    <img class="render-image" src="/assets/gi/kdtree-bunny-notree.png" alt="A bunny over a yellow plane."/>
    <p>Here's my rendering of the stanford bunny (and supersampling on!) WITH kd-trees. It took a "slightly" faster 1.02975 seconds to render and 0.0367 seconds to build the kd-tree.</p>
    <img class="render-image" src="/assets/gi/kdtree-bunny.png" alt="A bunny over a yellow plane."/>
</div>