<div class="assign-div">
    <app-gi-header></app-gi-header>
    <h1>Basic Assignment 6</h1>
    <p>This assignment had me adding basic transmission. It's a little naive in that technically light is refracted from light sources.
    Here's a rendering of the scene with an index of refraction of 1.5 (glass) for the near sphere. I added light attenuation as well so the scene's a little darker.</p>
    <img class="render-image" src="/assets/gi/assn6-transmission-basic.png" alt="Two spheres, one a mirror and the other glass, above a checkered plane."/>
    <p>Here's that same image but I added light attentuation based on passing through transparent mediums. Notice the near sphere now has a shadow.</p>
    <img class="render-image" src="/assets/gi/assn6-shadow-transmission.png" alt="Two spheres, one a mirror and the other glass, above a checkered plane. Both spheres now have shadows."/>
</div>