<div id="content">
    <h2>Construction underway! Don't mind the dust!</h2>
    <div id="bio">
        <h1>Biography</h1>
        <p>Robert White is a second year Computer Science student at the Rochester Institute of Technology.
        He has worked on and led numerous projects of various scopes and sizes including video games and
        render engines.  He aspires to work as a Software Engineer in the areas of rendering, embedded systems,
        or networking. Robert is currently on the E-Board for the RIT Game Dev Club and currently looking for a
        summer/fall co-op. You can reach Robert at <a href="mailto: rjwhitenh@outlook.com">rjwhitenh@outlook.com</a>.</p>
    </div>
</div>