#bio{
  text-align: center;
  margin: auto;
  margin-top: 20px;
  max-width: 500px;
}

#frame{
  margin: auto;

  border: 5px solid #FFD369;
  border-radius: 200px;
  overflow: hidden;

  height: 200px;
  width: 200px;
}

img{
  height: 100%;
  width: 100%;
}