<div id="bio">
    <div id="frame">
        <img src="/assets/self_image.png" alt="Robert White's Profile Picture"/>
    </div>
    <h1>About Me</h1>
    <p>Hello! I'm Robert White, a fourth year Computer Science student at the Rochester Institute of Technology.
    I've worked on and led projects accross multiple disciplines from video games to robots. I aspire to work as a
    Software Engineer in game development. I am the current president of RIT Game Dev Club and looking for engineering
    positions in game development. You can reach me at <a href="mailto: &#114;&#106;&#119;&#104;&#105;&#116;&#101;&#110;&#104;&#064;&#111;&#117;&#116;&#108;&#111;&#111;&#107;&#046;&#099;&#111;&#109;">&#114;&#106;&#119;&#104;&#105;&#116;&#101;&#110;&#104;&#064;&#111;&#117;&#116;&#108;&#111;&#111;&#107;&#046;&#099;&#111;&#109;</a>.</p>
</div>