<div id="bio">
    <div id="frame">
        <img src="/assets/self_image.png" alt="Robert White's Profile Picture"/>
    </div>
    <h1>About Me</h1>
    <p>Hello! I'm Robert White a second year Computer Science student at the Rochester Institute of Technology.
    I've worked on and led numerous projects of various scopes and sizes including video games, render engines, and even robots. I aspire to work as a 
    Software Engineer in the areas of rendering, embedded systems, or networking. I am currently on the E-Board for the RIT Game Dev Club and currently looking for a
    summer/fall co-op. You can reach me at <a href="mailto: rjwhitenh@outlook.com">rjwhitenh@outlook.com</a>.</p>
</div>