<h1>AntiVAX ISA</h1>
<p>In my final semester at RIT, I was given a simple, albeit in-depth task: explore some concept in the world
of computer architecture. Myself, along with two like minded individuals, decided to run with this and completely
design our own microcoded instruction set. Styling ourself off the old VAX instruction set, we chose to name our
project AntiVAX. AntiVAX features complex operations only available through its microcoded feature set, such as
matrix multiplication, 8 different address modes, and polynomial evaluation. In fact, as an emergent behavior of
our design, a user can implement the fibonacci sequence in a single instruction. I personally designed the hardware
and the basic fetch, decode, execute cycle as well as several (simpler) must have instructions like addition, while
my groupmates implemented the CISCier instructions and the other address modes. You can check out our documentation
here:
</p>
<div class="links-container">
    <a class="button-link" href="assets/AntiVAXSpec.pdf" target="_blank">ISA Specification</a>
    <a class="button-link" href="assets/AntiVAXHWDoc.pdf" target="_blank">Hardware Specification</a>
</div>