a {
  text-decoration: underline;
  color: #0066ff;
  transition-duration: 0.2s;
}

.list-container
{
    width: fit-content;
    margin: auto;
    text-align: left;
}

.render-image
{
    height: auto;
    width: 500px;
}