<div>
  <h1>Robert White's CSCI 711 Submissions</h1>
  <p>Howdy! Herein you'll find all my submissions for Global Illumination.
  This page was originally written for CSCI711, a class I took at RIT, so some of the pages are a little bare bones, or formatted wierdly.</p>
  <p>We were given very little guidance in how to structure our raytracer beyond the basic algorithm, so I'm really proud of how things turned out!
  I wrote a pretty solid world/object model that allowed for a variety of objects to co-exist in one scene while still being samplable quickly.
  Lighting is also pretty flexible and is defined in world space. Finally, the same scene can be rendered by multiple cameras, allowing for different
  rendering settings in one execution (albeit multiple passes).</p>

  <a href="https://github.com/armedturret/csci711-raytracer" target="_blank">Source Code</a>

  <div class="links-container">
    @for (link of links; track link) {
      <a [routerLink]="['/csci711', link[1]]">{{link[0]}}</a>
    }
  </div>
</div>