/* You can add global styles to this file, and also import other style files */
/*color-palette employed: https://colorhunt.co/palette/222831393e46ffd369eeeeee*/
body{
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  background-color: #222831;
  color: #EEEEEE;
}

@keyframes fadeInAnimation {
  0% {
      opacity: 0;
  }
  100% {
      opacity: 1;
  }
}

a{
  text-decoration: none;
  color: #EEEEEE;
  transition-duration: 0.2s;
}

div{
  transition-duration: 0.2s;
  animation: fadeInAnimation ease 1s;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}