<div>
    <app-gi-header></app-gi-header>
    <h1>Basic Assignment 3</h1>
    <p>Here's the basic rendering.</p>
    <img class="render-image" src="/assets/gi/assn3-basic.png" alt="Two spheres above a yellow plane with shadows."/>
    <p>And here it is with a second light added.</p>
    <img class="render-image" src="/assets/gi/assn3-multiple-lights.png" alt="Two spheres above a yellow plane with multiple shadows each."/>
    <p>And here's the same scene with super sampling added! Notice the smooth shadows.</p>
    <img class="render-image" src="/assets/gi/assn3-super-sampling.png" alt="Two spheres above a yellow plane with super sampling applied."/>
</div>